pandas
numpy
requests
beautifulsoup4
lxml
tqdm
Unidecode
openpyxl
ftfy
fastapi
uvicorn[standard]
pydantic
python-dotenv
datasets
torch
transformers
accelerate
bitsandbytes
sentence-transformers
faiss-cpu
playwright
